@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
  background-color: black;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

body,
p {
  font-family: 'Lato', sans-serif;
}

/* globals.css or your global styles file */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.8s ease-in-out forwards;
}
